<header id="layout-header">
  <nav>
    <div class="logo">
      <a href="/" style="display: flex">
        <img
          src="https://files.codingninjas.in/438375-17407.webp"
          alt="Codial Logo"
        />
        <h1 style="display: inline; padding-left: 22px; color: #1b74e4">
          Codial
        </h1>
      </a>
    </div>

    <div class="auth-links">
      <ul>
        <% if (locals.user) { %>
        <li>
          <a href="/messages">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              role="img"
              viewBox="0 0 24 24"
              height="2em"
              width="2em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0zM4.911 7.089h11.456a2.197 2.197 0 0 1 2.165 2.19v5.863a2.213 2.213 0 0 1-2.177 2.178H8.04c-1.174 0-2.04-.99-2.04-2.178v-4.639L4.503 7.905c-.31-.42-.05-.816.408-.816zm3.415 2.19c-.347 0-.68.21-.68.544 0 .334.333.544.68.544h7.905c.346 0 .68-.21.68-.544 0-.334-.334-.545-.68-.545zm0 2.177c-.347 0-.68.21-.68.544 0 .334.333.544.68.544h7.905c.346 0 .68-.21.68-.544 0-.334-.334-.544-.68-.544zm-.013 2.19c-.346 0-.68.21-.68.544 0 .334.334.544.68.544h5.728c.347 0 .68-.21.68-.544 0-.334-.333-.545-.68-.545z"
              ></path>
            </svg>
          </a>
        </li>
        <li class="user-profile">
          <a href="/users/profile/<%= user.id %>">
            <img
              src="<%= user.avatar %>"
              alt="<%= user.name %>"
              class="user-avatar"
            />
            <%= user.name %>
          </a>
        </li>
        <li>
          <a class="button" href="/users/sign-out">Sign Out</a>
        </li>
        <% } else { %>
        <li>
          <a class="button" href="/users/sign-in">Sign In</a>
        </li>
        <li>
          <a class="button" href="/users/sign-up">Sign Up</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
